<div id="tweet-errors">
  <%= render '/layouts/errors', object: @tweet %>
</div>

<%= form_for @tweet, remote: true do |form| %>
  <div class="form-group">
    <p><%= form.text_area :text, class: "form-control", id: "tweet-box", placeholder: "Bird Cast Yourself..." %></p>
  </div>
  <div class="form-group">
    <p><%= form.submit(class: 'btn btn-success') %></p>
  </div>
<% end %>

