<h1><%= @user.name %></h1>

<% if current_user.id == @user.id %>

  <div class="col-md-4">
    <%= render 'tweets/form' %>
  </div>
<% end %>

<div class="col-md-8" id="tweets">
  <% @user.tweets.reverse.each do |tweet| %>
    <%= render 'tweets/tweet', object: tweet %>
  <% end %>
</div>
