<h1><%= @user.name %></h1>

<div class="col-md-4">
  <%= render 'tweets/form' %>
</div>

<div class="col-md-8" id="tweets">
<% @user.tweets.reverse.each do |tweet| %>
  <div class="well">
      <%= tweet.text %>
  </div>
<% end %>
</div>
